h1
{
	background-color: black;
	color: white;
	background-position: center;
	text-align: center;
	border-radius: 20px;
}
#content
{
	align-items: center;
	text-align: center;
	margin-left: 780px;
}
.formulario
{
	background-color: white;
	background-position: center;
	text-align: left;
	border-radius: 20px;
}
